.dreams-container {
  justify-content: center;
  align-items: center;
  height: 53vh;
  margin-top: 6vh;
  margin-bottom: 23vh;
}

.dreams {
  display: grid;
  grid-template-columns: 50% 27% 23%;
  grid-template-rows: 320px 310px;
  height: 100%;
  grid-auto-flow: row;
}

.dream-0 {
  grid-column: 1;
  grid-row: 1;
  margin-right: 20px;
}

.dream-details:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  margin-right: 20px;
  max-height: 300px;
}

.dream-1 {
  grid-column: 2;
  grid-row: 1;
  max-height: 300px;
}

.dream-2 {
  grid-column: 2;
  grid-row: 2;
  max-height: 300px;
}

.dream-details:nth-child(1) {
  grid-column: 3;
  grid-row: 2;
}


.dream-photo {
  position: relative;
  overflow: hidden;
}

.dream-photo img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0 !important;
}

.dream-0 .dream-photo {
  max-height: 320px;
}

.dream-1 .dream-photo img, .dream-2 .dream-photo img {
  max-height: 300px;
}

.dream-details {
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid  rgba(0, 0, 0, 0.247);
  max-height: 300px;
}

.dream-details h2, .dream-details p {
  margin: 0;
  padding: 0;
}

.dream-details h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.dream-details .dream-date {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.dream-details .dream-description {
  margin-bottom: 10px;
}

         
.btn-dream {
  background-image: linear-gradient(to right, #e1bb40 0%, #daa623  51%, #c07831  100%);
  margin: 10px 0px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 14px;
  max-width: 100px;
  text-decoration: inherit;
  margin-top: 20px;
}

.btn-dream:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: inherit;
}

.no-decoration {
  text-decoration: none;
}

.read-more-btn {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 130px;
  height: 50px;
  font-size: 18px;
  color: black;
  background-color: white;
  border: 0.5px solid  rgba(0, 0, 0, 0.116);
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-btn:hover {
  background-color: #E3C7C6;
  color: white;
}